.features {
  background: #f9f1e7;

  padding: 45px 5%;

  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 30px;
}

.feature-item {
  display: flex;

  align-items: center;

  gap: 13px;
}

.feature-icon {
  font-size: 34px;

  min-width: 35px;
}

.feature-item h3 {
  margin: 0 0 5px;

  font-size: 15px;
}

.feature-item p {
  margin: 0;

  color: #999;

  font-size: 11px;
}


@media (max-width: 800px) {

  .features {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 500px) {

  .features {
    grid-template-columns: 1fr;
  }

  .feature-item {
    justify-content: center;
  }
}